<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
  style="--params-fonts-monospace-fontfamily: {{ .Params.fonts.monospace.fontFamily | default .Site.Params.fonts.monospace.fontFamily | safeCSS }};--params-fonts-serif-fontfamily: {{ .Params.fonts.serif.fontFamily | default .Site.Params.fonts.serif.fontFamily | safeCSS }};"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
