body {
  /* font-family: sans-serif; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

body {
  > :is(header, main, footer) {
    max-width: 840px;
    width: 100%;
    margin-inline: auto;
  }

  >main {
    flex-grow: 1;
  }
}
